@import "../global/variables";
@import "../global/mixins";
@import "../components/heading-third";
@import "../blocks/my-flights";

$page-hero-svg-h: 71px;
$page-hero-svg-w: 1439px;
$page-hero-mobile-bdrad: 16px;
$page-hero-back-btn-bp: 1330px;

.page-hero-wrapper {
    .container {
        position: relative;
        margin-bottom: 15px;

        @include min-mq($crt) {
            margin-top: -22px;

            .site-main:has(section.airlines) & {
                margin-top: -155px;
            }

            .site-main:has(section.arrivals-timetable) & {
                margin-top: -251px;
            }
        }

        @include min-max-mq($crt, $page-hero-back-btn-bp) {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.page-hero-back-btn,
.page-hero-title {
    font-size: $font-size-h1;
    line-height: 1;
    letter-spacing: -0.05em;
    color: $gray-300;
}

.page-hero-back-btn {
    cursor: pointer;
    padding: 0 9px;
    border: none;
    background: none;
    appearance: none;
    transform: translateY(-0.05em);
    transition: $dur;

    @include min-mq($page-hero-back-btn-bp + 1px) {
        position: absolute;
        top: 0;
        right: 100%;
    }

    @include max-mq($page-hero-back-btn-bp) {
        margin-left: -9px;
    }

    svg {
        @include max-mq($crt) {
            max-width: 18px;
        }
    }

    &:hover {
        opacity: 0.5;
    }
}

.page-hero-title {
    max-width: 640px;

    @include min-max-mq($crt, $page-hero-back-btn-bp) {
        flex-grow: 0;
    }

    @include max-mq($crt) {
        font-size: $responsive-size-h2;
        letter-spacing: -0.07em;
        padding-top: 13px;
    }
}

.page-hero-wrapper-inner {
    // stylelint-disable-next-line length-zero-no-unit
    --additional-padding: 0px;

    position: relative;
    height: calc(290px + var(--additional-padding));

    body:has(div.site-warning-item) & {
        --additional-padding: 50px;
    }

    @include min-mq($crt + 1px) {
        .site-main:has(section.arrivals-timetable) & {
            height: calc(384px + var(--additional-padding));
        }
    }

    @include max-mq($crt) {
        height: calc(156px + var(--additional-padding));
    }

    & + * {
        position: relative;
        z-index: 1;
    }

    @include max-mq($crt) {
        .my-flights-btn {
            bottom: $page-hero-mobile-bdrad;
        }
    }
}

.page-hero-img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;

    img {
        min-width: 100%;
        max-width: none;
        display: block;
        min-height: $header-height + 300px;
    }
}

.page-hero-cutout {
    display: block;
    fill: $white;
    height: $page-hero-svg-h;
    width: $page-hero-svg-w;
    min-width: $page-hero-svg-w;
    flex: 0 0 $page-hero-svg-w;

    path {
        fill: $white;
    }
}

.page-hero-cutout-wrap {
    position: absolute;
    bottom: -2px;
    width: 100%;
    overflow: hidden;
    height: $page-hero-svg-h;
    display: flex;
    justify-content: center;

    @include max-mq($lg) {
        left: -10%;
    }

    @include max-mq($crt) {
        left: 0;
        height: $page-hero-mobile-bdrad + 2px;

        svg {
            display: none;
        }
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        right: 60%;
        background-color: $white;

        @include max-mq($crt) {
            right: 0;
            width: 100%;
            border-top-left-radius: $page-hero-mobile-bdrad;
        }
    }

    @include max-mq($mac) {
        justify-content: flex-start;
    }

    @include min-mq($crt + 1px) {
        .site-main:has(section.airlines) & {
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                border-bottom: 1px dashed #cdcdcd;
                bottom: 2px;
                left: 0;
            }
        }
    }
}

.page-hero-working-hours {
    margin-top: 13px;
    margin-bottom: 10px;
    font-size: 15px;
    color: $gray-300;
    letter-spacing: -0.02em;

    @include min-max-mq($crt, $page-hero-back-btn-bp) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.page-hero-img-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
