// stylelint-disable no-descending-specificity
@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";

// NOTE: this should allow to tune variable in browser while
// being able to replace it with px value if needed
$text-links-img-shift: var(--text-links-img-shift);
$text-links-img-spacing: var(--text-links-img-spacing);
$text-links-r-bot-padding: var(--text-links-r-bot-padding);

.text-links-wrapper {
    --text-links-img-spacing: 94px;
    --text-links-img-shift: 220px;
    --text-links-r-bot-padding: 50px;
    // stylelint-disable-next-line declaration-empty-line-before
    padding-top: 186px;
    background-repeat: repeat-x;
    background-position: center 15px;

    @include max-mq($sm) {
        background: none !important;
        padding-top: 103px;
    }
}

.text-links-top-inner {
    display: flex;
    margin-right: -10px;
    margin-left: -10px;

    @include max-mq($sm) {
        flex-wrap: wrap;
    }
}

.text-links-title {
    margin-bottom: 20px;

    @include max-mq($sm) {
        margin-bottom: 13px;
    }

    h2 {
        font-size: $font-size-h1;
        letter-spacing: -0.05em;
        color: $primary-color;

        @include max-mq($sm) {
            font-size: $responsive-size-h1;
        }
    }
}

.text-links-left {
    padding-bottom: calc($text-links-img-shift + $text-links-img-spacing);
    flex: 0 0 49%;
    max-width: 49%;
    padding-left: 10px;
    padding-right: 10px;

    @include max-mq($sm) {
        flex: 0 0 100%;
        max-width: 100%;
        padding-bottom: 3px;
    }
}

.text-links-right {
    position: relative;
    z-index: 1;
    flex: 0 0 51%;
    max-width: 51%;

    @include max-mq($sm) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.text-links-image {
    padding: 0 20px;
    margin-top: calc($text-links-img-shift * -1);

    @include max-mq($sm) {
        margin-top: 0;
        padding: 0;
    }

    img {
        width: 100%;
        vertical-align: middle;
    }
}

.text-links-items {
    position: relative;
    padding-left: 81px;
    padding-top: 13px;
    padding-bottom: $text-links-r-bot-padding;
    background-color: $white;
    border-radius: 15px;

    @include max-mq($lg) {
        --text-links-r-bot-padding: 84px;
        // stylelint-disable-next-line declaration-empty-line-before
        padding-left: 40px;
    }

    @include max-mq($sm) {
        padding-left: 0;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: calc(100% - 10px);
        height: 100%;
        width: calc((100vw - ($container-width + 20px)) * 0.5 + 2px);
        background-color: $white;
        z-index: -1;
    }
}

.text-links-item {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(100% - 54px);
        height: 0;
        border-bottom: 1px solid #ededed;
    }

    &:last-child {
        &::after {
            content: none;
        }
    }

    a {
        display: flex;
        align-items: center;
        padding: 24px 27px 24px 13px;
        border-radius: 8px;
        letter-spacing: -0.03em;
        transition: $dur;

        @include max-mq($sm) {
            padding-right: 20px;
        }

        &:hover {
            background-color: #f6f6f6;

            .text-links-item-arrow {
                transform: translateX(90%);

                @include max-mq($sm) {
                    transform: translateX(50%);
                }
            }
        }
    }
}

.text-links-item-arrow {
    margin-left: auto;
    transition: $dur;
}

.text-links-item-icon {
    display: flex;
    align-items: start;
    margin-right: 21px;
}

.text-links-text {
    max-width: 420px;
    letter-spacing: -0.03em;
}
