@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";
@import "../../assets/scss/blocks/accordions";
@import "../../assets/scss/blocks/warning-message";
@import "../../assets/scss/blocks/list";
@import "../../assets/scss/components/heading-third";
@import "../../assets/scss/components/sticky-images";

.image-accordion__items {
    display: flex;
    flex-wrap: wrap;
    padding: 94px 0 88px;
    margin-left: -10px;
    margin-right: -10px;

    @include max-mq($sm) {
        padding: 55px 0 50px;
    }
}

.image-accordion__left,
.image-accordion__right {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 10px;
    padding-right: 10px;

    @include max-mq($sm) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.image-accordion__left {
    @include max-mq($sm) {
        order: 2;
    }
}

.image-accordion__image {
    max-width: 490px;

    @include max-mq($sm) {
        max-width: none;
    }

    img {
        vertical-align: middle;
    }

    @include max-mq($sm) {
        img {
            width: 100%;
            object-fit: cover;
            max-height: 253px;
        }
    }
}

.image-accordion__subtitle,
.heading-secondary {
    font-size: $font-size-h2;
    line-height: 1;
    letter-spacing: -0.05em;

    @include max-mq($sm) {
        font-size: $responsive-size-h3;
        line-height: calc(30 / 28);
    }
}

.image-accordion__right {
    margin-left: auto;

    .heading-secondary {
        color: $primary-color;
    }

    @include max-mq($sm) {
        order: 1;
        margin-bottom: 44px;
    }
}

.image-accordion__subtitle {
    color: $gray-100;
    margin-bottom: 52px;
    max-width: 460px;

    @include max-mq($sm) {
        margin-bottom: 43px;
    }
}

.image-accordion__checkin {
    margin-bottom: 48px;

    @include max-mq($sm) {
        margin-bottom: 30px;
    }

    .content-button {
        @include max-mq($sm) {
            margin-bottom: 40px;
        }
    }
}

.image-accordion__checkin-title {
    max-width: 470px;
}

.image-accordion__checkin-text {
    letter-spacing: -0.03em;
    max-width: 470px;
    margin-bottom: 23px;
}

.image-accordion__checkin-boxes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 15px;

    @include max-mq($sm) {
        margin-bottom: 34px;
    }
}

.image-accordion__checkin-box {
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 12px 15px;
    border: 1px solid $gray;

    @include max-mq($sm) {
        padding: 14px 15px;

        &:not(:first-child) {
            border-top: none;
        }
    }

    @include min-mq($sm + 1px) {
        flex: 0 0 50%;
        max-width: 50%;

        &:not(:first-child) {
            border-left: none;
        }
    }
}

.image-accordion__checkin-box-left {
    min-width: 28px;
    margin-right: 17px;

    > * {
        vertical-align: middle;
    }
}

.image-accordion-secondary-title {
    color: $primary-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: calc(24 / 12);
    letter-spacing: 0.03em;
}

.image-accordion__checkin-box-text {
    letter-spacing: -0.03em;
    color: $gray-400;
}

.image-accordion__checkin-warning {
    position: relative;
    background-color: $secondary-color-50;
    border-radius: 2px;
    padding: 12px 19px;
    margin-bottom: 48px;
    line-height: calc(24 / 17);
    letter-spacing: -0.03em;

    @include max-mq($sm) {
        padding-right: 26px;
        margin-bottom: 40px;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        border-left: 4px solid $secondary-color;
    }
}

.image-accordion__bottom-section {
    max-width: 470px;
    letter-spacing: -0.03em;
}

.image-accordion__checkin-box-title {
    margin-bottom: 0;
    color: $primary-color;
    @extend %heading-third;
}

.image-accordion__bottom-section-text {
    p {
        margin-bottom: 25px;
    }
}
