// stylelint-disable no-descending-specificity
@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";
@import "../../assets/scss/components/heading-third";

.categorized-content-wrapper {
    margin-top: 40px;

    &:nth-child(2) {
        margin-top: 70px;
    }

    &:last-child {
        margin-bottom: 140px;
    }

    li {
        padding: 11px 24px;
        margin-bottom: 0;
        letter-spacing: -0.03em;

        &:not(:last-child) {
            border-bottom: 1px solid $gray;
        }
    }

    ul {
        margin: 21px 0;

        li {
            &::before {
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    h2 {
        font-size: $font-size-h3;
        letter-spacing: -0.03em;

        &:last-of-type {
            margin-bottom: 14px;
        }

        &:first-child {
            margin-top: 30px;
        }
    }

    h3,
    h4,
    h5 {
        margin-top: 20px;
        margin-bottom: 6px;
        @extend %heading-third;
    }

    p {
        margin-bottom: 20px;
    }
}

.categorized-content-default {
    p {
        margin-top: 18px;
    }

    h2 {
        max-width: 289px;
    }
}

.categorized-content-alt-1 {
    h2 {
        line-height: calc(30 / 26);
    }
}

.categorized-content-title {
    .categorized-content-default & {
        color: $primary-color;
    }
}

.categorized-content-subtitle {
    .categorized-content-alt-1 & {
        color: $primary-color;
        border-bottom: 1px solid #ededed;
        padding-bottom: 8px;
    }
}

.categorized-content__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.categorized-content__left {
    flex: 0 0 50%;
    max-width: 50%;

    @include max-mq($sm) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
}

.categorized-content__text {
    max-width: 460px;
}

.categorized-content__item {
    .categorized-content-default & {
        margin-bottom: 39px;
    }

    .categorized-content-alt-1 & {
        margin-bottom: 24px;
    }
}
