// stylelint-disable no-descending-specificity
@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";
@import "../../assets/scss/components/heading-third";
@import "../../assets/scss/components/button";

.categorized-content-wrapper {
    margin-top: 40px;

    &:nth-child(2) {
        margin-top: 70px;
    }

    &:last-child {
        margin-bottom: 80px;
    }

    li {
        padding: 11px 24px;
        margin-bottom: 0;
        letter-spacing: -0.03em;

        &:not(:last-child) {
            border-bottom: 1px solid $gray;
        }
    }

    ul {
        margin: 21px 0;

        li {
            &::before {
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    h2 {
        color: $primary-color;
        font-size: $font-size-h3;
        letter-spacing: -0.03em;
        margin-bottom: 14px;
        max-width: 289px;

        .categorized-content-reduced-spacing & {
            margin-top: 60px;
            margin-bottom: 5px;

            @include max-mq($sm) {
                font-size: 20px;
            }
        }

        &:first-child {
            margin-top: 30px;

            .categorized-content-reduced-spacing & {
                margin-top: 30px;

                @include max-mq($sm) {
                    margin-top: 0;
                }
            }
        }
    }

    h3,
    h4,
    h5 {
        margin-top: 20px;
        margin-bottom: 6px;
        @extend %heading-third;
    }

    p {
        margin-bottom: 20px;
        margin-top: 18px;
    }
}

.categorized-content__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.categorized-content__left {
    flex: 0 0 50%;
    max-width: 50%;

    @include max-mq($sm) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
}

.categorized-content__text {
    max-width: 460px;
}

.categorized-content__item {
    margin-bottom: 39px;
}
