@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";

$rent-car-shared-bp: $mb;

.rent-car {
    padding: 76px 0;

    @include min-mq($rent-car-shared-bp + 1px) {
        &:last-child {
            margin-bottom: 140px;
        }
    }
}

.rent-car__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include max-mq($sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include max-mq($rent-car-shared-bp) {
        grid-template-columns: 1fr;
        gap: 23px;
    }

    .sa-global-blocks-wrap & {
        grid-template-columns: repeat(3, 1fr);

        @include max-mq($md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include max-mq($sm) {
            grid-template-columns: 1fr;
            gap: 23px;
        }
    }
}

.rent-car__item {
    display: flex;

    @include min-mq($rent-car-shared-bp + 1px) {
        flex-direction: column;
        min-height: 320px;
        border: 1px solid $gray;
        padding: 19px 24px;

        .sa-global-blocks-wrap & {
            min-height: 230px;
        }
    }

    @include max-mq($rent-car-shared-bp) {
        gap: 23px;
    }
}

.rent-car__item-image {
    @include max-mq($rent-car-shared-bp) {
        max-width: 50px;
    }

    .sa-global-blocks-wrap & {
        margin-bottom: 45px;
    }

    img {
        min-height: 24px;
        min-width: 24px;

        .sa-global-blocks-wrap & {
            min-height: 34px;
            min-width: 34px;
        }
    }
}

.rent-car__item-title {
    font-size: $font-size-base;
    letter-spacing: -0.03em;
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 9px;
}

.rent-car__item-info {
    display: flex;
    flex-direction: column;

    @include min-mq($rent-car-shared-bp + 1px) {
        margin-top: auto;
    }

    @include max-mq($rent-car-shared-bp) {
        flex-grow: 1;
        border-bottom: 1px solid $gray;
        padding-bottom: 22px;
    }

    a {
        color: $gray-300;

        &:hover {
            text-decoration: underline;
        }
    }
}

.rent-car-title {
    color: $primary-color;
    margin-bottom: 30px;
    font-size: $font-size-h3;
}
