@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";

$hero-res-switch: $grid-gutter-breakpoint;

.hero-home-overflow {
    overflow: hidden;
    padding-bottom: 2px;
}

.home-hero-bg {
    object-fit: cover;
    position: absolute;
    object-position: top center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    @include max-mq($hero-res-switch) {
        height: 530px;
        object-position: bottom center;
    }
}

.block-editor__container img.home-hero-bg {
    height: 100% !important; // NOTE: because of editor
}

.home-hero-wrapper {
    position: relative;
    padding-top: $header-height;

    .container {
        position: relative;
        z-index: 1;

        @include max-mq($xs) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.home-hero-inner {
    padding-top: 131px;

    @include max-mq($sm) {
        padding-top: 78px;
    }
}

.home-hero-title {
    color: $gray-400;
    margin-bottom: 19px;

    @include max-mq($sm) {
        margin-bottom: 11px;
    }

    h1 {
        letter-spacing: -0.05em;

        @include max-mq($sm) {
            font-size: 36px;
            text-align: center;
            letter-spacing: -0.07em;
        }
    }
}

.home-hero-search {
    min-height: 74px;
    margin-bottom: 120px;

    @include max-mq($sm) {
        min-height: 58px;
        margin-bottom: 177px;
    }
}

.home-hero-item-icon {
    display: flex;
    align-items: center;
    min-width: 20px;
}

.home-hero-items {
    position: relative;
    display: flex;
    align-items: flex-end;

    @include min-mq($hero-res-switch + 1px) {
        height: 175px;
    }

    @include max-mq($hero-res-switch) {
        padding-top: 20px;
    }

    &::after,
    &::before {
        content: "";
        display: block;
        height: calc(100% + 2px);
        width: 100vw;
        background-color: $white;
        position: absolute;
        top: 0;
        right: 100%;
    }

    @include max-mq($hero-res-switch) {
        &::before {
            content: none;
        }
    }

    &::after {
        right: 0;
        width: calc(100% + 2px);

        @include max-mq($hero-res-switch) {
            right: -20px;
            width: calc(100% + 40px);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    }
}

.home-hero-items-inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    gap: 16px;

    > * {
        @include min-mq($hero-res-switch + 1px) {
            flex: 1 1 185px;

            &:first-child {
                max-width: initial;
            }

            &:last-child {
                max-width: 130px;
            }
        }

        @include max-mq($hero-res-switch) {
            flex: 0 0 calc(50% - 9px);
            max-width: calc(50% - 9px);
        }
    }

    @include max-mq($hero-res-switch) {
        flex-wrap: wrap;
    }
}

.home-hero-item {
    position: relative;
    display: flex;

    a {
        display: flex;
        width: 100%;
        background-color: $gray;
        border-radius: 10px;
        color: $primary-color;
        padding: 19px 18px;
        letter-spacing: -0.03em;

        @include max-mq($hero-res-switch) {
            padding: 15px 13px;
        }

        @include max-mq($xs) {
            padding: 19px 15px;
        }
    }
}

.home-hero-item-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .home-hero-item {
        min-height: 45%;
    }

    .home-hero-item-icon {
        margin-right: 15px;

        @include max-mq($xs) {
            margin-right: 5px;
        }

        svg,
        img {
            display: block;
        }
    }

    a {
        display: flex;
        align-items: center;
    }
}

.home-hero-item-one {
    min-height: 148px;

    @include max-mq($hero-res-switch) {
        min-height: 129px;
    }

    .home-hero-item-text {
        max-width: 87px;
    }

    a {
        flex-direction: column;
        justify-content: space-between;
    }

    &:last-child {
        a {
            @include min-mq($hero-res-switch + 1px) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}

.svg-hero-cutout-item,
.svg-hero-cutout-bg {
    position: absolute;
    top: 0;
    left: calc(100% - 2px);

    @include max-mq($hero-res-switch) {
        display: none;
    }
}

.svg-hero-cutout-bg {
    fill: $white;
    height: calc(100% + 2px);
    width: 188px;
}

.svg-hero-cutout-item {
    fill: $gray;
    height: 100%;
    width: auto;
}
