// stylelint-disable no-descending-specificity
@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";
@import "../../assets/scss/components/search-form";
@import "../../assets/scss/blocks/my-flights";

$hero-res-switch: $md;

.home-hero-bg-desktop {
    @include max-mq($sm) {
        display: none;
    }
}

.home-hero-bg-mobile {
    @include min-mq($sm + 1px) {
        display: none;
    }
}

.home-hero-bg {
    object-fit: cover;
    position: absolute;
    object-position: 50% 60%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    @include max-mq($hero-res-switch) {
        height: 530px;
        object-position: center center;
    }
}

.home-hero-bg img {
    height: 100% !important; // NOTE: because of editor
}

.home-hero-wrapper {
    position: relative;
    padding-top: $header-height;

    .container {
        position: relative;
        z-index: 1;

        @include max-mq($xs) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.home-hero-inner {
    display: flex;
    flex-direction: column;
    height: 37vw;
    min-height: 585px;
    max-height: 900px;

    @include max-mq($hero-res-switch) {
        min-height: 685px;
    }

    .hero-home-has-search & {
        @include max-mq($hero-res-switch) {
            padding-top: 88px;
        }
    }
}

.home-hero-title {
    color: $gray-300;
    margin-bottom: 29px;
    margin-top: auto;

    .hero-home-no-search & {
        max-width: 430px;

        @include max-mq($hero-res-switch) {
            margin-top: 100px;
            max-width: 340px;
        }

        @include max-mq($xs) {
            margin-top: 70px;
        }
    }

    @include max-mq($hero-res-switch) {
        margin-bottom: 11px;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        letter-spacing: -0.05em;
        line-height: 1;

        @include max-mq($hero-res-switch) {
            font-size: $responsive-size-h1;
            text-align: center;
            letter-spacing: -0.07em;
        }
    }
}

.home-hero-search {
    min-height: 74px;

    @include max-mq($hero-res-switch) {
        min-height: 58px;
        margin-bottom: 177px;
    }

    .arrivals-timetable-search {
        @include min-max-mq($sm, $hero-res-switch) {
            padding-top: 35px;
            place-items: center;
            display: grid;
        }
    }
}

.home-hero-item-icon {
    display: flex;
    align-items: center;
    min-width: 20px;
}

.home-hero-items {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-top: auto;

    @include min-mq($hero-res-switch + 1px) {
        height: 175px;
    }

    @include max-mq($hero-res-switch) {
        padding-top: 20px;
        max-width: 100% !important;
    }

    &::after,
    &::before {
        content: "";
        display: block;
        height: calc(100% + 2px);
        width: 100vw;
        background-color: $white;
        position: absolute;
        top: 0;
        right: 100%;
    }

    @include max-mq($hero-res-switch) {
        &::before {
            content: none;
        }
    }

    &::after {
        right: 0;
        width: calc(100% + 2px);

        @include max-mq($hero-res-switch) {
            right: -10px;
            width: calc(100% + 20px);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        @include min-max-mq($xs + 1px, $sm) {
            right: -20px;
            width: calc(100% + 40px);
        }
    }
}

.home-hero-items-inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    gap: 16px;

    > * {
        @include min-mq($hero-res-switch + 1px) {
            flex: 1 1 185px;

            &:first-child {
                max-width: initial;
            }

            &:last-child {
                max-width: 130px;
            }
        }

        @include max-mq($hero-res-switch) {
            flex: 0 0 calc(50% - 9px);
            max-width: calc(50% - 9px);

            .hero-home-odd-items & {
                &:last-child {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }

    @include max-mq($hero-res-switch) {
        flex-wrap: wrap;
    }
}

.svg-hero-cutout-item {
    fill: $gray;
    height: 100%;
    width: auto;
    transition: $dur;
}

.home-hero-item {
    position: relative;
    display: flex;

    a {
        display: flex;
        width: 100%;
        background-color: $gray;
        border-radius: 10px;
        color: $primary-color;
        padding: 19px 18px;
        letter-spacing: -0.03em;
        transition: $dur;

        &:hover {
            background-color: $gray-50;

            .svg-hero-cutout-item {
                fill: $gray-50;
            }
        }

        @include max-mq($hero-res-switch) {
            padding: 15px 13px;
        }

        @include max-mq($xs) {
            padding: 19px 15px;
        }
    }
}

.home-hero-item-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .home-hero-item {
        min-height: 45%;
    }

    .home-hero-item-icon {
        margin-right: 15px;

        @include max-mq($xs) {
            margin-right: 5px;
        }

        svg,
        img {
            display: block;
        }
    }

    a {
        display: flex;
        align-items: center;
    }
}

.home-hero-item-one {
    min-height: 148px;

    @include max-mq($hero-res-switch) {
        min-height: 129px;
    }

    .home-hero-item-text {
        max-width: 87px;
    }

    a {
        flex-direction: column;
        justify-content: space-between;
    }

    &:last-child {
        a {
            @include min-mq($hero-res-switch + 1px) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}

.svg-hero-cutout-item,
.svg-hero-cutout-bg {
    position: absolute;
    top: 0;
    left: calc(100% - 2px);

    @include max-mq($hero-res-switch) {
        display: none;
    }
}

.svg-hero-cutout-bg {
    fill: $white;
    height: calc(100% + 2px);
    width: 188px;
}
