// stylelint-disable no-descending-specificity
@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";
@import "../../assets/scss/blocks/page-hero-generic";

$map-main-bp: $sm;

.airport-map-wrapper {
    padding-top: 85px;
    padding-bottom: 140px;

    body:has(div.site-warning) & {
        padding-top: 155px;
    }

    button {
        font-family: $primary-font;
    }
}

.airport-map-guide-cb-wrap,
.airport-map-no-guide {
    overflow: hidden;
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
    transition: opacity 400ms;

    &.is-active-cbs {
        max-width: 100%;
    }
}

.airport-map-wrap {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    img {
        display: block;
        user-select: none;
    }
}

.airport-map-tooltip {
    line-height: 1;
    white-space: nowrap;
    font-size: 10px;
    background-color: $white;
    width: initial;
    max-width: initial;
    flex-shrink: 0;
    transform: scale(0);
    pointer-events: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    padding: 6px 3px;
    box-shadow: 0 3px 8px 0 rgba($black, 0.15);
    position: absolute;

    &::after {
        content: "";
        position: absolute;
        border: 4px solid transparent;
        top: 50%;
    }

    &.guide-right-tooltip {
        transform: translate(0, -50%) translateX(10px);
    }

    &.right-tooltip {
        left: 100%;
        margin-left: 10px;
    }

    &.guide-right-tooltip,
    &.right-tooltip {
        &::after {
            border-right-color: $white;
            right: 100%;
            transform: translateY(-50%);
        }
    }

    &.guide-left-tooltip {
        transform: translate(-100%, -50%) translateX(-10px);
    }

    &.left-tooltip {
        right: 100%;
        margin-right: 10px;
    }

    &.guide-left-tooltip,
    &.left-tooltip {
        &::after {
            border-left-color: $white;
            left: 100%;
            transform: translateY(-50%);
        }
    }
}

.airport-map-shape-wrap {
    position: absolute;
}

.map-sidebar-btn {
    display: flex;
    appearance: none;
    align-items: center;
    width: 100%;
    border: none;
}

.map-sidebar-root {
    user-select: all;
    border-bottom: 1px solid $gray;
    background-color: $footer-bgc;
    text-transform: uppercase;
    font-weight: 700;
    color: $gray-300;
    padding: 11px 15px;
    font-size: 12px;
    letter-spacing: 0.03em;
}

.map-sidebar-clickable {
    cursor: pointer;
    background-color: $white;
    padding: 12px 20px;
    padding-left: 40px;
    transition: $dur;
    font-size: 15px;
    color: #5b5b5b;
    letter-spacing: -0.02em;

    &:hover {
        background-color: $gray;
    }

    .map-sidebar-level-0 > li > &,
    .map-sidebar-level-1 > li > & {
        padding-left: 20px;
    }
}

.map-sidebar-chev {
    margin-left: auto;

    & * {
        vertical-align: middle;
    }

    .map-sidebar-open-sub & {
        transform: rotate(180deg) translateY(-15%);
    }
}

.airport-map-guide-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &.is-guide-visible {
        opacity: 1;
    }

    > * {
        display: block;
    }
}

.airport-map-area {
    > * {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.airport-map-shape-wrap-area {
    pointer-events: none;
    transform-origin: top left;
}

.airport-map-shape-wrap-icon {
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.airport-map-shape-wrap-icon:hover .airport-map-tooltip,
.highlighted-map-group
    .airport-map-shape-wrap-icon:first-child
    .airport-map-tooltip {
    transform: scale(1);
}

.airport-map-shape {
    width: 100%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.airport-map-icon {
    background-color: $primary-color;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.airport-map-floors {
    position: relative;
    overflow: hidden;
    padding: 41px 11px 10px 78px;
    border: 1px solid $gray;
    border-left: none;
    border-top: none;
    background-color: #fcfcfc;

    @include max-mq($map-main-bp) {
        padding: 79px 0 15px 15px;
        aspect-ratio: 1.2 !important;
        border: none;
    }
}

.page-hero-back-btn.airport-map-back-btn,
.page-hero-title.airport-map-title {
    font-size: $font-size-h3;
    letter-spacing: -0.04em;
}

.page-hero-back-btn.airport-map-back-btn {
    svg {
        height: 18px;
        width: 18px;
    }
}

.airport-map-group {
    & > * {
        z-index: 8;

        &.airport-map-shape-wrap-icon {
            z-index: 9;
        }
    }
}

.highlighted-map-group,
.airport-map-group:hover {
    & > * {
        z-index: 78;

        &.airport-map-shape-wrap-icon {
            z-index: 79;
        }
    }

    .airport-map-icon {
        background-color: $secondary-color;
    }

    .airport-map-area {
        svg {
            * {
                fill: $secondary-color-100;
                stroke: $secondary-color;
            }
        }
    }
}

.highlighted-map-group {
    & > * {
        &.airport-map-shape-wrap-icon {
            &:first-child {
                z-index: 89;
            }
        }
    }
}

.airport-map-shape-wrap-icon:hover {
    z-index: 89 !important;
}

.airport-map-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 20px;

    @include max-mq($map-main-bp) {
        flex-wrap: wrap;
        max-width: 100%;
    }
}

.airport-map-sidebar {
    min-width: 305px;
    max-width: 305px;
    display: flex;
    flex-direction: column;

    @include max-mq($map-main-bp) {
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }
}

.airport-map-sidebar-sarch-wrap {
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
}

.map-sidebar-level-0,
.airport-map-guide-cbs {
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background-color: $footer-bgc;
    }

    &::-webkit-scrollbar-thumb {
        box-shadow: inset 3px 0 0 $gray;
        border-radius: 3px;
    }
}

.airport-map-sidebar-menu {
    position: relative;
    flex-grow: 1;
    border: 1px solid $gray;
    border-top: none;

    @include max-mq($map-main-bp) {
        min-height: 300px;
        border-bottom: none;
    }

    & > .map-sidebar-level-0 {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow-y: auto;

        @include max-mq($map-main-bp) {
            position: relative;
        }
    }
}

.airport-map-main {
    max-width: calc(100% - 305px);

    @include max-mq($map-main-bp) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.airport-map-main,
.airport-map-sidebar {
    flex-grow: 1;
}

.airport-map-icon-img {
    max-width: 67%;
    max-height: 67%;
    display: block;
}

.entry-content {
    ul.map-sidebar-list {
        margin: 0;
        list-style: none;

        li {
            padding: 0;
            margin-bottom: 0;

            &::before {
                display: none;
            }
        }
    }
}

.map-sidebar-list-hidden {
    display: none;
}

.has-active-search {
    .map-sidebar-level-0 {
        & > li > .map-sidebar-btn {
            display: none;
        }

        & > .found-item {
            display: block;

            & > .map-sidebar-btn {
                display: flex;
            }

            ul .map-sidebar-searchable {
                display: block;
            }
        }

        & > li:has(li.found-item) {
            & > .map-sidebar-btn {
                display: flex;
            }
        }
    }

    .map-sidebar-level-1 .map-sidebar-searchable {
        display: none;

        &.found-item,
        &:has(li.found-item) {
            display: block;

            .map-sidebar-level-1 .map-sidebar-searchable {
                display: block;
            }
        }
    }
}

.hidden-no-results {
    display: none;
}

.highlighted-sidebar-item {
    background-color: #f6f6f6;
}

.airport-map-floor {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10%);
    transition: $dur;
    pointer-events: none;

    &.airport-map-active-floor {
        pointer-events: all;
        position: relative;
        display: block;
        opacity: 1;
        transform: translateY(0);

        & ~ .airport-map-floor {
            transform: translateY(-10%);
        }
    }
}

.airport-map-floor-btn {
    cursor: pointer;
    padding: 10px 15px;
    background-color: $white;
    border: 1px solid $gray;
    color: $gray-300;

    &.current-floor-btn {
        background-color: $footer-bgc;
        border: 1px solid $gray-50;
        color: $primary-color-100;
    }
}

.airport-map-floor-btns {
    position: absolute;
    top: 30px;
    left: 30px;

    @include max-mq($map-main-bp) {
        top: 20px;
        left: 20px;
    }
}

.airport-map-guide-cbs-floor {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transition: opacity $dur;
    height: 100%;
    padding: 5px 20px;

    &:has(div.airport-map-no-guide.is-active-cbs) {
        pointer-events: none;
        opacity: 0;
    }

    @include max-mq($map-main-bp) {
        white-space: wrap;
        flex-wrap: wrap;
        padding: 11px 20px;
    }

    &.is-active-cbs {
        pointer-events: all;
        position: relative;
        opacity: 1;
    }
}

.airport-map-fg-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    z-index: 5;
    pointer-events: none;

    &.top-overlay {
        z-index: 11;
    }
}

.airport-map-guide-cbs {
    position: relative;
    border: 1px solid $gray;
    border-left: none;
    overflow-x: auto;
    scrollbar-color: $gray $footer-bgc;
    scrollbar-width: thin;
    height: 58px;

    @include max-mq($map-main-bp) {
        height: 82px;
    }
}

.airport-map-guide-cbs-only {
    user-select: none;
    display: flex;
    align-items: center;

    @include max-mq($map-main-bp) {
        white-space: wrap;
        margin-left: -10px;
        height: 28px;
    }
}

.airport-map-guide-cb-wrap {
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    padding: 5px 10px;
    padding-right: 6px;

    @include max-mq($map-main-bp) {
        flex-shrink: 0;

        &:last-child {
            padding-right: 20px;
        }
    }

    input {
        cursor: pointer;
        position: absolute;
        visibility: hidden;

        & + span {
            line-height: 20px;
            vertical-align: middle;
            display: inline-flex;
            align-items: center;
            position: relative;
            color: #5b5b5b;
            font-size: 15px;
            letter-spacing: -0.02em;

            @include max-mq($map-main-bp) {
                font-size: $font-size-base;
                letter-spacing: -0.03em;
            }

            &::before {
                content: "";
                display: inline-block;
                width: 18px;
                height: 18px;
                border: 1px solid #dde5ed;
                border-radius: 2px;
                margin-right: 6px;
            }
        }

        &:checked {
            & + span {
                &::before {
                    border: 2px solid $primary-color;
                }

                &::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-repeat: no-repeat;
                    background-image: url("/assets/images/check-primary.svg");
                    width: 18px;
                    height: 20px;
                    background-position: center center;
                }
            }
        }
    }

    &:hover {
        input {
            & + span {
                color: $primary-color;

                &::before {
                    border-color: $primary-color;
                }
            }
        }
    }
}

.airport-map-floors-inner {
    overflow: visible !important;
    position: relative;
}

.airport-map-sarch-icon {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    pointer-events: none;

    @include max-mq($map-main-bp) {
        left: 20px;
    }
}

.airport-map-search {
    border-radius: 0;
    padding: 10px;
    font-size: 15px;
    padding-left: 60px;
    height: 58px;
    border: 1px solid $gray;
    width: 100%;
    font-family: $primary-font;
    display: block;
    letter-spacing: -0.02em;

    @include max-mq($map-main-bp) {
        padding-left: 50px;
        border-left: none;
        border-right: none;
    }
}

.airport-map-guide-m-label {
    color: $primary-color;
    font-size: 15px;
    letter-spacing: -0.02em;
    margin-right: 16px;
    line-height: 20px;

    @include max-mq($map-main-bp) {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.03em;
        flex: 0 0 100%;
    }
}

.airport-map-no-guide {
    font-size: 15px;
    color: #5b5b5b;
    display: inline-block;
    white-space: nowrap;
    line-height: 20px;

    @include max-mq($map-main-bp) {
        padding-left: 10px;
        font-size: $font-size-base;
    }
}

.map-sidebar-item-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.airport-map-no-results {
    padding: 20px;
}

.airport-map-search-term {
    color: $primary-color;
}

.airport-map-tooltip-guide {
    transform: scale(1);
    z-index: 15;
}

.map-sidebar-floor {
    color: $primary-color;
    font-weight: bold;
    margin-left: auto;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.1em;
}

.airport-map-floor-1 {
    max-width: 940px;
}

.airport-map-floor-2 {
    max-width: 940px;
}
