@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";

.airport-map-wrapper {
    padding-top: 200px;
}

.airport-map-wrap {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    img {
        display: block;
        user-select: none;
    }
}

.airport-map-tooltip {
    line-height: 1;
    white-space: nowrap;
    font-size: 10px;
    background-color: $white;
    width: initial;
    max-width: initial;
    flex-shrink: 0;
    transform: scale(0);
    pointer-events: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    padding: 6px 3px;
    box-shadow: 0 3px 8px 0 rgba($black, 0.15);
    position: absolute;

    &::after {
        content: "";
        position: absolute;
        border: 4px solid transparent;
        top: 50%;
    }

    &.right-tooltip {
        left: 100%;
        margin-left: 10px;

        &::after {
            border-right-color: $white;
            right: 100%;
            transform: translateY(-50%);
        }
    }

    &.left-tooltip {
        right: 100%;
        margin-right: 10px;

        &::after {
            border-left-color: $white;
            left: 100%;
            transform: translateY(-50%);
        }
    }
}

.airport-map-shape-wrap {
    position: absolute;
}

.airport-map-guide-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &.is-guide-visible {
        opacity: 1;
    }

    > * {
        display: block;
    }
}

.airport-map-area {
    > * {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.airport-map-shape-wrap-area {
    pointer-events: none;
    transform-origin: top left;
}

.airport-map-shape-wrap-icon {
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.airport-map-shape-wrap-icon:hover .airport-map-tooltip,
.highlighted-map-group
    .airport-map-shape-wrap-icon:first-child
    .airport-map-tooltip {
    transform: scale(1);
}

.airport-map-shape {
    width: 100%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.airport-map-icon {
    background-color: $primary-color;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.airport-map-floors {
    position: relative;
    max-width: 1097px;
    margin-left: auto;
    overflow: hidden;
    padding: 100px;
}

.airport-map-group {
    * {
        z-index: 8;
    }
}

.highlighted-map-group,
.airport-map-group:hover {
    .airport-map-icon {
        background-color: $secondary-color;
    }

    .airport-map-area {
        svg {
            * {
                fill: $secondary-color-100;
                stroke: $secondary-color;
            }
        }
    }
}

.airport-map-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.airport-map-main,
.airport-map-sidebar {
    flex-grow: 1;
}

.airport-map-icon-img {
    max-width: 73%;
    max-height: 73%;
    display: block;
}

.map-sidebar-list-hidden {
    display: none;
}

.map-sidebar-clickable {
    cursor: pointer;
    background-color: $white;
    padding: 5px 10px;
}

.has-active-search {
    .map-sidebar-searchable {
        display: none;

        &.found-item,
        &:has(li.found-item) {
            display: block;

            .map-sidebar-searchable {
                display: block;
            }
        }
    }
}

.hidden-no-results {
    display: none;
}

.highlighted-sidebar-item {
    background-color: #f6f6f6;
}

.airport-map-floor {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10%);
    transition: $dur;
    pointer-events: none;

    &.airport-map-active-floor {
        pointer-events: all;
        position: relative;
        display: block;
        opacity: 1;
        transform: translateY(0);

        & ~ .airport-map-floor {
            transform: translateY(-10%);
        }
    }
}

.airport-map-floor-btn {
    cursor: pointer;
    padding: 10px 15px;
    background-color: $white;
    border: 1px solid $gray;
    color: $gray-300;

    &.current-floor-btn {
        background-color: $footer-bgc;
        border: 1px solid $gray-50;
        color: $primary-color-100;
    }
}

.airport-map-floor-btns {
    position: absolute;
    top: 30px;
    left: 30px;
}

.airport-map-guide-cbs-floor {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;

    &.is-active-cbs {
        pointer-events: all;
        position: relative;
    }
}

.airport-map-fg-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    z-index: 5;
    pointer-events: none;
}

.airport-map-guide-cbs {
    display: flex;
    align-items: center;
    min-height: 56px;
    padding: 5px 20px;
}

.airport-map-guide-cbs-only {
    user-select: none;
}

.airport-map-guide-cb-wrap {
    cursor: pointer;
    padding: 5px 10px;

    &:hover {
        color: $primary-color;
    }
}

.airport-map-floors-inner {
    overflow: visible !important;
}
