@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";

$page-hero-svg-h: 71px;
$page-hero-svg-w: 1439px;
$page-hero-mobile-bdrad: 16px;
$page-hero-back-btn-bp: 1330px;

.page-hero-wrapper {
    .container {
        position: relative;
        margin-bottom: 15px;

        @include min-mq($sm) {
            margin-top: -22px;
        }

        @include min-max-mq($sm, $page-hero-back-btn-bp) {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.page-hero-back-btn,
.page-hero-title {
    font-size: $font-size-h1;
    line-height: 1;
    letter-spacing: -0.05em;
}

.page-hero-back-btn {
    cursor: pointer;
    padding: 0 9px;
    border: none;
    background: none;
    appearance: none;
    transform: translateY(-0.05em);
    transition: $dur;

    @include min-mq($page-hero-back-btn-bp + 1px) {
        position: absolute;
        top: 0;
        right: 100%;
    }

    @include max-mq($page-hero-back-btn-bp) {
        margin-left: -9px;
    }

    svg {
        @include max-mq($sm) {
            max-width: 18px;
        }
    }

    &:hover {
        opacity: 0.5;
    }
}

.page-hero-title {
    max-width: 480px;

    @include min-max-mq($sm, $page-hero-back-btn-bp) {
        flex-grow: 0;
    }

    @include max-mq($sm) {
        font-size: $responsive-size-h2;
        letter-spacing: -0.07em;
    }
}

.page-hero-wrapper-inner {
    position: relative;
    height: 290px;

    @include max-mq($sm) {
        height: 126px;
    }

    & + * {
        position: relative;
        z-index: 1;
    }
}

.page-hero-img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;

    img {
        min-width: 100%;
        max-width: none;
        display: block;
        min-height: $header-height + 300px;
    }
}

.page-hero-cutout {
    display: block;
    fill: $white;
    height: $page-hero-svg-h;
    width: $page-hero-svg-w;
    min-width: $page-hero-svg-w;
    flex: 0 0 $page-hero-svg-w;

    path {
        fill: $white;
    }
}

.page-hero-cutout-wrap {
    position: absolute;
    bottom: -2px;
    width: 100%;
    overflow: hidden;
    height: $page-hero-svg-h;
    display: flex;
    justify-content: center;

    @include max-mq($sm) {
        height: $page-hero-mobile-bdrad + 2px;

        svg {
            display: none;
        }
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        right: 60%;
        background-color: $white;

        @include max-mq($sm) {
            right: 0;
            width: 100%;
            border-top-left-radius: $page-hero-mobile-bdrad;
            border-top-right-radius: $page-hero-mobile-bdrad;
        }
    }

    @include max-mq($mac) {
        justify-content: flex-start;
    }
}

.page-hero-working-hours {
    margin-top: 13px;
    margin-bottom: 10px;
    font-size: 15px;
    color: $gray-300;
    letter-spacing: -0.02em;

    @include min-max-mq($sm, $page-hero-back-btn-bp) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
