@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";

.raw-content {
    padding: 48px 0;

    @include max-mq($sm) {
        padding: 30px 0;
    }

    &:last-child {
        margin-bottom: 140px;
    }
}

.raw-content__inner {
    max-width: 590px;
    margin: 0 auto;

    p {
        &:not(:first-child) {
            margin-top: 24px;
        }
    }

    ol,
    ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    li {
        margin-bottom: 8px;
        padding-left: 25px;

        @include max-mq($sm) {
            margin-bottom: 0;
        }
    }

    ul {
        li {
            &::before {
                border-radius: 50%;
                left: 10px;
            }
        }
    }
}
