@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";
@import "../arrivals-timetable/arrivals-timetable";
@import "../../assets/scss/components/loader";
@import "../../assets/scss/components/button";
@import "../../node_modules/flatpickr/dist/flatpickr.min.css";

.download-schedule-wrapper {
    position: relative;
    background-repeat: repeat-x;
    background-position: center bottom;
    padding-top: 39px;
    padding-bottom: 210px;
    margin-bottom: 59px;

    &.is-loading {
        pointer-events: none;

        .container {
            opacity: 0.6;
        }
    }

    @include max-mq($md) {
        background: none !important;
        padding-bottom: 49px;
    }

    @include max-mq($sm) {
        padding-top: 11px;
        margin-bottom: 21px;
    }
}

.download-schedule-btns {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-bottom: 28px;
}

.download-schedule-table {
    .basic-table-row {
        cursor: default !important;
    }

    .basic-table-cell {
        &:nth-child(1) {
            flex: 0 0 110px;
            max-width: 110px;
        }
    }
}

.dls-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.js-clear-range {
    .js-dls-date-wrap.is-empty & {
        display: none;
    }
}
