@import "../global/variables";
@import "../global/mixins";

%heading-third {
    text-transform: uppercase;
    font-size: $font-size-xsmall;
    line-height: calc(16 / 12);
    letter-spacing: 0.03em;
    font-weight: bold;
    color: $gray-100;
    margin-bottom: 14px;
}

.heading-third {
    @extend %heading-third;
}
