@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";
@import "../../assets/scss/blocks/accordions";

.faq {
    padding: 90px 0;

    @include max-mq($sm) {
        padding: 40px 0;
    }
}

.faq__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @include max-mq($sm) {
        gap: 4px;
    }
}

.faq__left {
    .heading-secondary,
    h2 {
        font-size: $font-size-h3;
        color: $primary-color;
        letter-spacing: -0.04em;
    }
}

.faq__right {
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: auto;

    @include max-mq($sm) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
