@import "global/variables";
@import "global/mixins";

/* critical:start */

.error-404 {
    padding-top: $header-height + 100px;
    padding-bottom: 30px;
    margin-bottom: 90px;
    text-align: center;
}

/* critical:end */
