@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";
@import "../../assets/scss/components/document-item";
@import "../../assets/scss/components/heading-third";
@import "../../assets/scss/blocks/warning-message";

.document-group-wrapper {
    margin-top: 75px;

    .sc-card {
        max-width: initial;
    }

    & ~ .document-group-wrapper {
        margin-top: 40px;
    }

    &:last-child {
        margin-bottom: 100px;
    }
}

.document-group-inner {
    max-width: 490px;
}

.document-group-title {
    color: $primary-color;
    font-size: $font-size-h3;
    letter-spacing: -0.04em;
    margin-top: 70px;
}

.document-group-title,
.document-group-content h2 {
    color: $primary-color;
    font-size: $font-size-h3;
    letter-spacing: -0.03em;
    margin-bottom: 25px;
    line-height: calc(30 / 26);
}

.document-group-content {
    p {
        margin-top: 15px;
        margin-bottom: 25px;
    }

    h2 {
        margin-top: 40px;
    }

    h3,
    h4,
    h5 {
        margin-top: 40px;
        @extend %heading-third;
    }
}
