@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";

.facilities {
    padding: 69px 0 19px;

    @include max-mq($sm) {
        padding: 30px 0;
    }

    &:last-child {
        margin-bottom: 140px;

        @include max-mq($sm) {
            margin-bottom: 90px;
        }
    }
}

.facilities__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include max-mq($sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include max-mq($mb) {
        grid-template-columns: 1fr;
        gap: 42px;
    }
}

.facilities__item {
    border-radius: 2px;
    border: 1px solid $gray;
    display: flex;
    flex-direction: column;

    h2,
    .heading-secondary {
        color: $primary-color;
        letter-spacing: -0.04em;
        font-size: 26px;
        line-height: calc(30 / 26);

        @include max-mq($sm) {
            font-size: 19px;
            letter-spacing: -0.03em;
            margin-bottom: 13px;
        }
    }
}

.facilities__item-image {
    img {
        border-radius: 2px;
        width: 100%;
    }
}

.facilities__item-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;

    .page-bank-exchanges-working-hours {
        font-family: $primary-font;
        font-weight: 400;
        font-style: italic;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: -3%;
        color: #5b5b5b;
        margin-top: 1px;
    }
}

.parking__item-button {
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: $primary-color-100;
    transition: $dur;
    background-color: $footer-bgc;
    padding: 10px 17px;
    border-radius: 50px;
    margin-top: auto;
    font-size: 15px;
    letter-spacing: -0.02em;

    svg {
        margin-left: 9px;
    }

    &:hover {
        background-color: $gray;
    }
}

.facilities__item-description {
    min-height: 61px;
    margin-bottom: 30px;

    p {
        margin-top: 23px;
    }

    @include max-mq($sm) {
        margin-bottom: 11px;
    }
}

.facilities__subtitle {
    color: $gray-300;
    letter-spacing: -0.03em;
    margin-bottom: 41px;
}

.facilities__title {
    font-size: $font-size-h3;
    color: $primary-color;
    letter-spacing: -0.03em;
}
