@include min-mq($responsive-toggle-breakpoint + 1) {
    .language-menu {
        margin-left: 30px;

        a {
            letter-spacing: -0.03em;
        }
    }
}

.main-navigation {
    top: 0;
    margin-left: auto;

    @include min-mq($responsive-toggle-breakpoint + 1) {
        display: flex;
        align-items: center;
    }

    .arrow-toggle {
        position: absolute;
        right: -2px;
        top: 0;
        cursor: pointer;
        padding: 5px;
        height: 100%;
        display: flex;
        align-items: center;

        @include max-mq($responsive-toggle-breakpoint) {
            right: 10px;
        }
    }

    @include max-mq($responsive-toggle-breakpoint) {
        background-color: $white;
        min-width: initial;
        width: 100%;
        position: fixed;
        transition: 0.4s;
        left: 0;
        top: 0;
        z-index: 999;
        transform: translateY(-100%);
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .menu-opened & {
            transform: none;
        }
    }
}

@include min-mq($responsive-toggle-breakpoint + 1px) {
    .language-menu {
        position: relative;
        color: $gray-300;

        a {
            display: block;
            padding: 10px 29px 4px;

            &:hover {
                color: $gray-200;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            right: 8px;
            z-index: 10;

            li {
                width: 82px;
                border-bottom: 1px solid #ccc;

                &:not(:last-child) {
                    margin-bottom: 2px;
                }

                &:first-child {
                    border-radius: 4px 4px 0 0;
                }

                &:last-child {
                    border-radius: 0 0 4px 4px;
                }
            }
        }

        &:hover {
            ul {
                display: flex;
            }
        }

        ul {
            display: none;
        }
    }

    .current-lang {
        padding: 10px 20px;

        &::after {
            content: "";
            display: inline-block;
            margin-left: 10px;
            height: 0.35em;
            width: 0.35em;
            border-bottom: 1px solid currentColor;
            border-right: 1px solid currentColor;
            transform: translateY(-0.15em) rotate(45deg);
        }

        img {
            margin-bottom: -5px;
        }
    }
}

@include max-mq($responsive-toggle-breakpoint) {
    .current-lang {
        display: none;
    }
    .language-menu {
        padding-top: 50px;

        ul {
            display: flex;
            justify-content: center;
            list-style-type: none;
            font-size: 20px;

            li:not(:last-child)::after {
                content: "";
                border-right: 1px solid $gray;
                height: 0.8em;
                display: inline-block;
            }
        }

        a {
            display: inline-block;
            padding: 11px 14px;
            letter-spacing: -0.05em;
        }

        ul li {
            background: $white !important;
        }
    }
}

.language-menu,
.main-menu-container {
    @include max-mq($responsive-toggle-breakpoint) {
        position: relative;

        &::after,
        &::before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background-color: #222222;
            border-radius: 50%;
            position: absolute;
            top: 20px;
        }

        &::after {
            left: calc(100% + 10px);
            transform: translateX(-50%);
        }

        &::before {
            right: calc(100% + 10px);
            transform: translateX(50%);
        }
    }
}

.main-menu-container {
    @include min-mq($responsive-toggle-breakpoint + 1px) {
        a {
            padding: 10px 11px;
        }
    }

    @include max-mq($responsive-toggle-breakpoint) {
        padding-top: 52px;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin-left: 20px;
            position: relative;
            color: $gray-300;
            transition: color 0.4s ease;

            &:first-of-type {
                margin-left: 0;
            }

            &.current-menu-item,
            &.current-menu-parent {
                color: $gray-200;
            }

            &:hover {
                color: $gray-200;
            }

            @include max-mq($responsive-toggle-breakpoint) {
                display: block;
                margin-left: 0;
                margin-bottom: 10px;

                &:not(:last-child) {
                    padding-bottom: 5px;
                    border-bottom: 1px dashed $gray;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            a {
                display: block;
                position: relative;
                color: inherit;
                width: 100%;
                letter-spacing: -0.02em;

                @include max-mq($responsive-toggle-breakpoint) {
                    padding: 12px 10px;
                    font-size: 28px;
                    letter-spacing: -0.05em;
                }
            }

            .sub-menu {
                @include min-mq($lg) {
                    left: 100%;
                    right: auto;
                    top: 0;
                    z-index: 11;
                }

                @include min-mq($lt) {
                    left: 100%;
                    right: auto;
                }

                @include max-mq($lg - 1) {
                    display: none;
                    margin: 0;
                    padding: 0 0 0 25px;
                }

                @include min-mq($lg) {
                    background-color: #fff;
                    box-shadow: 0 5px 20px rgba(#000, 0.1);
                    left: 0;
                    margin: auto;
                    opacity: 0;
                    padding: 0;
                    position: absolute;
                    top: 99%;
                    visibility: hidden;
                    width: 200px;
                    z-index: 10;
                }

                li {
                    display: block;
                    margin-left: 0;

                    a {
                        padding: 10px 20px;

                        @include max-mq($lg - 1) {
                            padding: 10px 0;
                        }
                    }

                    &:not(:last-child) {
                        @include min-mq($lg) {
                            border-bottom: 1px solid rgba(#000, 0.1);
                        }
                    }
                }
            }

            &.sub-menu-open {
                @include max-mq($responsive-toggle-breakpoint) {
                    > a {
                        background-color: $primary-color;
                        color: $white;
                    }
                }
            }

            &.menu-item-has-children {
                &:hover {
                    > .sub-menu {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

@include max-mq($responsive-toggle-breakpoint) {
    body {
        &::before {
            content: "";
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: #3a3a3a;
            opacity: 0;
            transition: height 5ms linear $dur, opacity $dur ease 10ms;
            z-index: 9;
        }

        &.menu-opened {
            &::before {
                transition: height 5ms, opacity $dur ease 10ms;
                opacity: 0.8;
                height: 100%;
            }
        }
    }
}
