// Container widths
$container-width: 1220px;

// Colors
$primary-color:		#084983;
// NOTE: these are the same because someone decided to change all of the colors one day before the deadline
$primary-color-100: #084983;
$secondary-color:	#E49D68;
$secondary-color-50:#fdf6f0;
$white:				#fff;
$black:				#000;
$gray:              #DDE5ED;
$gray-50:           #b3c5d6;
$gray-100:          #939393;
$gray-200:			#6F6F6F;
$gray-300:          #5B5B5B;
$gray-400:  		#2D2D2D;
$green:             #31A045;
$red:               #D35A5A;
$footer-bgc:        #f3f8fc;


// Fonts
$primary-font: 'Zurich BT', sans-serif;
$secondary-font: sans-serif;

// Font Sizes
$font-size-xsmall:	12px;
$font-size-small:	14px;
$font-size-base:	17px;
$font-size-large:	18px;
$font-size-xlarge:	20px;

// Heading sizes
$font-size-h1: 48px;
$font-size-h2: 40px;
$font-size-h3: 26px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 15px;

$responsive-size-h1: 36px;
$responsive-size-h2: 32px;
$responsive-size-h3: 28px;

// Breakpoints
$mac: 1440px;
$lt: 1366px;
$ls: 1280px;
$lg: 1199px;
$crt: 1024px;
$md: 991px;
$sm: 767px;
$mb: 480px;
$ip: 420px;
$xs: 350px;

$grid-gutter-breakpoint: $sm;

$text-card-first-bp: $md;
$text-card-mixed-bp: $sm;

// Navigation config
$responsive-toggle-breakpoint: $sm;
$toggle-menu-height: 20px;
$toggle-menu-width: 25px;
$toggle-menu-bar-height: 3px;
$toggle-menu-bar-color: $primary-color;
$toggle-menu-bar-active-color: transparent;

// Misc vars
$header-height: 84px;
$dur: 400ms;